.example-card {
    max-width: 400px;
  }

  .main-title{
      font-size: 2em;
      text-align: center;
  }
  
  mat-card-actions a{
    color: inherit;  
  }

  .a-default-color a{
    color: inherit;
  }